<a href="https://colab.research.google.com/github/Sindhukotha44187/INFO5502/blob/main/In_class_exercise_01_09072022_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

# New Section

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
str=input("Enter the string:")
print("Length of the string is:",len(str))

Enter the string:Sindhu
Length of the string is: 6

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
def char(string):
        dict = {}
        for n in string:
          keys = dict.keys()
          if n in keys:
                dict[n] +=1
          else:
                dict[n] = 1 
        return dict
print(char('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [21]:
def sum_list(values):
        sum=0
        for y in values:
          sum += y
        return sum
print(sum_list([9,12,2]))

23

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [20]:
def change_char(string):
  char = string[0]
  string = string.replace(char,'$')
  string = char + string[1:]
  return string
print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
a =int(input("enter a\n"))
b =int(input("enter b\n"))
S = (3.14*((1+(a/b))**3))
print(S)

enter a
2
enter b
3
14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
from typing_extensions import Concatenate
dic1 ={1:10, 2:20}
dic2 ={3:30, 4:40}
dic3 ={5:50, 6:60}
Concatenate ={}
for dic in (dic1,dic2,dic3): Concatenate.update(dic)
print(Concatenate)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
tuple_items = ("s","i","n","d","h","u")
print("n" in tuple_items)
print("w" in tuple_items)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
setx ={7,-2,6,8,9,4}
print("Original set:")
print("\n Maximum value in a set",max(setx))
print("\n Minimum value in a set:",min(setx))

Original set:

 Maximum value in a set 9

 Minimum value in a set: -2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [19]:
from itertools import islice
from random import randint
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def class_group(student_list, no_of_groups, min_size=4, max_size=6):
    lst_student = iter(student_list)
    for i in range(no_of_groups):
        group = list(islice(lst_student,randint(min_size,max_size)))
        if group:
            yield group
        else:
             break
print(list(class_group(student_list,6)))

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'], ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'], ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458', 'sk1313'], ['ak0934', 'vm0377', 'nm0618', 'sm1640', 'sm1907', 'gn0108'], ['pr0353', 'dr0609', 'ms1500', 'aos0040'], ['ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
def duplicate(numbers):
    num_set = set()
    no_duplicate = -1
    for i in range(len(numbers)):
        if numbers[i] in num_set:
            return numbers[i]
        else:
            num_set.add(numbers[i])
    return no_duplicate

print(duplicate([9, 6, 9, 0, 7, 8, 9]))
print(duplicate([5, 7, -3, 0, 8, -3]))
print(duplicate([8, 0, 5, 7, 3, -6, 6]))

9
-3
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
from datetime import date, timedelta

def all_sundays(year):

       dt = date(year, 1, 1)

       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25